<div style="width: 100%;">
  <div style="float: left;">
    <h1>
      <span class='h1-left'>Critical</span>
      <span class='h1-right'>Resource</span>
    </h1>
  </div>
  <div style="float: right; margin-top: 20px;">
    <button>
      <%= link_to 'Home Page', root_path %>
    </button>
  </div>
</div>

<div>
  <table>
    <caption>Product Variants</caption>
    <tr>
      <th>Title</th>
      <th>Currency</th>
      <th>Base Price</th>
      <th>Converted Price</th>
      <th>Last Updated</th>
    </tr>

    <% @product_variants.first(list_limit).each do |product_variant| %>
      <tr>
        <td><%= product_variant.product.title %></td>
        <td><%= product_variant.currency_label %></td>
        <td class='rjust-cell numeric-cell'>
          <%=
            price_for_display(
              currency: product_variant.currency_label,
              price: product_variant.price
            )
          %>
        </td>
        <td class='rjust-cell numeric-cell'>
          <%=
            price_for_display(
              currency: product_variant.currency_label,
              price: product_variant.converted_price
            )
          %>
        </td>
        <td class='numeric-cell'><%= variant_last_updated(product_variant) %></td>
      </tr>
    <% end %>
  </table>
</div>
